<!DOCTYPE html>
<html lang="en">
<head>
{% load static %}

	<meta charset="UTF-8">
	<title>login</title>
        <link rel="styletalks" type="text/css" href="{% static 'talks/css/style.css' %}" />


</head>
<body class="vegas-slider">

	<div class="content">
        <div class="card">
          <div class="container">
              <h1 style="color:red;">Girls Talks</h1>
          </div>
            
    <div class="signup">     
        <h3>Sign Up</h3>
        
        <label for="full-name"><b>Full Name</b></label>
        <input type="text" placeholder="Full name" name="full_name" required>
        
        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>

        <label for="psw-repeat"><b>Repeat Password</b></label>
        <input type="password" placeholder="Repeat Password" name="psw-repeat" required>
        

        <label>
          <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
        </label>

        

        <div class="clearfix">
          <button type="submit" class="signupbtn">Sign Up</button>
        </div>         
    </div>
    
    <div class="login">
        <h3>Login</h3>
        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>

        <div class="clearfix">    
          <button type="submit" class="signupbtn" style="float: left;
     margin-left: 25%;">Login</button>
        </div>         
            
    </div>
        
	
    </div>
    </div>       
<script src="{% static 'talks/js/custom.js' %}"></script>
<script src="{% static 'talks/js/jquery-1.12.3.min.js' %}"></script>
<script src="{% static 'talks/plugins/vegas/vegas.js' %}"></script>
</body>
</html>
